.popover {
    position: absolute;
    top: 0;
    left: 0;
    max-width: var(--max-width, 14em);
    padding: 1.5em;
    border-radius: 0.5em;
    background-color: #fff;
  }
  
  .popover[data-position]::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    margin: auto;
  }
  
  .popover[data-position="top"]::after {
    left: 0;
    right: 0;
    bottom: -0.75em;
    border-top: 0.75em solid #fff;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
  }
  
  .popover[data-position="right"]::after {
    top: 0;
    left: -0.75em;
    bottom: 0;
    border-top: 1em solid transparent;
    border-right: 0.75em solid #fff;
    border-bottom: 1em solid transparent;
  }
  
  .popover[data-position="bottom"]::after {
    top: -0.75em;
    left: 0;
    right: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 0.75em solid #fff;
  }
  
  .popover[data-position="left"]::after {
    top: 0;
    right: -0.75em;
    bottom: 0;
    border-top: 1em solid transparent;
    border-left: 0.75em solid #fff;
    border-bottom: 1em solid transparent;
  }